page-login {
  font-family: 'Raleway', sans-serif;
  .header {
    border: none !important;
    .toolbar {
      .toolbar-background {
        background: transparent !important;
      }
    }
    .toolbar-md {
      border: none !important;
    }
  }
  .sign {
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
  }

  .logo {
    margin-top: 35%;
    h1 {
      font-size: 40px;
      font-family: 'Srisakdi', cursive;
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
      color: color($colors, color4);
      text-transform: uppercase;
    }
    p {
      margin: 0px;
      color: color($colors, color4);
      @include whiteNormal(15px, 1);
    }
  }
  .signin {
    margin: 0px;
    color: color($colors, light);
    @include whiteNormal(24px, 1);
    display: inline;
    font-size: 10px;
  }

  .scroll-content {
    overflow: hidden !important;
  }

  input {
    @include placeholder {
      color: color($colors, graycolor) !important;
    }
  }

  .login-button {
    background: #56B4D3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348F53, #56B4D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348F53, #56B4D3);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 15px;
    max-width: 98%;
    text-transform: uppercase;
  }

  .text-input::-moz-placeholder {
    color: color($colors, graycolor) !important;
  }

  .text-input:-ms-input-placeholder {
    color: color($colors, graycolor) !important;
  }

  .text-input::-webkit-input-placeholder {
    color: color($colors, graycolor) !important;
  }

  @import url('https://fonts.googleapis.com/css?family=Srisakdi');
}
