<!-- Generated template for the PostsComponent component -->
<div>
  <ion-item class="content-item1" *ngFor="let newsfeed of userPosts">
    <ion-card class="content-card1">
      <ion-item class="cardItem">
        <ion-avatar class="ionAvatar" item-start>
          <img class="userImg" src="http://res.cloudinary.com/doo4zgtkg/image/upload/v{{userData.picVersion}}/{{userData.picId}}">
        </ion-avatar>

        <h2 class="username">
          {{newsfeed.postId.username}}
        </h2>
        <p class="postTime">{{GetPostTime(newsfeed.created)}}</p>
        <p text-wrap class="postCity" *ngIf="userData">
          @{{userData.city}}, {{userData.country}}
        </p>
      </ion-item>

      <ion-card-content>
        <p text-wrap class="post">{{newsfeed.post}}</p>
      </ion-card-content>
      <div style="width: 100%;" *ngIf="newsfeed.postId.imgVersion">
        <img class="postImage" src="http://res.cloudinary.com/doo4zgtkg/image/upload/v{{newsfeed.postId.imgVersion}}/{{newsfeed.postId.imgId}}">
      </div>

      <ion-row style="border-top: 1px solid lightgrey; margin-top: 5px;">
        <ion-col>
          <button ion-button icon-left clear>
            <ion-icon name="thumbs-up"></ion-icon>
            <div *ngIf="newsfeed.postId.totalLikes > 0">{{newsfeed.postId.totalLikes}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear>
            <ion-icon name="text"></ion-icon>
            <div *ngIf="newsfeed.postId.comments.length > 0">{{newsfeed.postId.comments.length}}</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-item>
</div>
