page-people {
    font-family: 'Raleway', sans-serif;
    ion-header {
        .title-md {
            text-align: left;
            margin-left: -40px !important;
        }
    }
    .item {
        background: none;
        padding: $content-padding 0px;
        border-bottom: 1px solid color($colors, light) !important;
        &:last-of-type {
            border-bottom: none !important;
        }
        margin-bottom: 0px !important;
        ion-avatar {
            margin: $content-padding/2;
            img {
                width: 44px;
                height: 44px;
            }
        }
        .grid {
            padding: 0px;
            .col {
                padding: 0px;
                display: flex;
                align-items: center;
            }
        }
        h5 {
            font-weight: 400;
            @include whiteNoWrap(20px);
            margin: 0px !important;
        }
        p {
            font-size: 1.3rem !important;
            @include whiteNoWrap(20px);
        }
        span {
            font-size: 1.5rem;
            @include whiteNoWrap(20px);
            max-width: 100px;
        }
    }
    .grid {
        .col {
            overflow: hidden;
        }
    }
    .group {
        %inContainer {
            border-bottom: 1px solid color($colors, color4);
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-bottom: $content-padding/2;
        }
        %itemContainer {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            margin: $content-padding $content-padding/2;
            display: inline-block;
        }
        .container {
            background: color($colors, light);
            text-align: center;
            padding: $content-padding;
            position: relative;
            height: 200px !important;
        }
        .created_group {
            .container {
                .imgs {
                    @extend %inContainer;
                    height: 150px !important;
                    width: 150px !important;
                    text-align: center !important;
                    margin: 0 auto !important;
                }
                .imgBg {
                    position: relative;
                    @extend %itemContainer;
                    &.online {
                        &:after {
                            content: '';
                            @include position(auto, 7px, 0px, auto);
                            background: color($colors, color2);
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }
                p {
                    margin: 0px;
                    @include whiteNoWrap(20px);
                    font-weight: 400;
                    &:first-of-type {
                        margin-top: $content-padding;
                    }
                }
                .button {
                    @include position(0px, 0px, auto, auto);
                    min-width: 34px;
                    width: 34px;
                    height: 34px;
                    opacity: 1 !important;
                }
            }
        }
    }
    .header {
        height: $control-height;
        background: #348F53;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #56B4D3, #348F53);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #56B4D3, #348F53);
    }
    .menubtn {
        margin-left: 10px !important;
        margin-top: 3px !important;
    }
    div.menubtn img {
        width: 35px;
        height: 35px;
        max-width: 35px;
        max-height: 35px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border:  1px solid whitesmoke;
    }

    @media only screen and (max-width: 767px) {
        .group {
            .container {
                height: 180px !important;
            }

            .created_group {
                .container {
                    .imgs {
                        height: 120px !important;
                        width: 120px !important;
                        text-align: center !important;
                        margin: 0 auto !important;
                    }
                    .imgBg {
                        position: relative;
                        &.online {
                            &:after {
                                content: '';
                                background: color($colors, color2);
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}
  