page-settings {
    font-family: 'Raleway', sans-serif;
    ion-header {
        .title-md {
            text-align: left;
            padding-left: 0px !important;
            font-family: 'Raleway', sans-serif;
        }
    }
    div.circularBtn {
        max-width: 50px;
        max-height: 50px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        background-size: 100%;
        background: whitesmoke no-repeat !important;
        overflow: hidden;
    }
    div.circularBtn img {
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .label-md, .list-md {
        font-family: 'Raleway', sans-serif;
    }
}
