page-change-password {
    font-family: 'Raleway', sans-serif;
    ion-header {
        .title-md {
            text-align: left;
            padding-left: 0px !important;
            font-family: 'Raleway', sans-serif;
        }
    }
    .error {
        color: red;
        padding: 0px !important;
        margin: 0px !important;
    }
    .item {
        &.item-block {
            .input-md {
                padding: 0px $content-padding;
                background: color($colors, light);
                padding: 0px !important;
                margin: 0px !important;
            }
            .select {
                padding: 0px $content-padding;
                background: grey;
                padding: 0px !important;
                margin: 0px !important;
            }
        }
    }
    .passwordChange {
        margin-top: 20px !important;
        background: #283048;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: white;
        text-transform: uppercase;
    }
    .label-md[stacked] {
        font-size: 1.7rem !important;
        margin-top: 10px !important;
        margin-left: 6px;
        font-family: 'Raleway', sans-serif;
    }
    .text-input-md {
        border-bottom: 1px solid black;
        margin-bottom: 10px !important;
    }
}
