page-notifications {
    font-family: 'Raleway', sans-serif;
    ion-header {
        .title-md {
            text-align: left;
            margin-left: -40px !important;
        }
    }    
    ion-content {
        margin-top: 10px;
        .alert-card {
            padding: 0px !important;
            margin: 0px !important;
            height: auto !important;
            width: 100%;
            margin-bottom: 5px !important;
            box-shadow: none !important;
        }
        ion-item {
            height: auto !important;
            margin: 0px !important;
            padding: 0px !important;
            top: -8px !important;
            bottom: 0px !important;
        }
        .ionAvatar {
            margin-top: -32px !important;
            margin-left: 10px !important;
            margin-right: 15px !important;
        }
        .msg {
            color: #4aa1f3;
            font-family: 'Raleway', sans-serif;
        }
        .read {
            color: #c0c0c0;
        }
        .postTime {
            font-family: 'Raleway', sans-serif;
        }
    }
    .header {
        height: $control-height;
        background: #348F53;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #56B4D3, #348F53);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #56B4D3, #348F53);
    }
    .menubtn {
        margin-left: 10px !important;
        margin-top: 3px !important;
    }
    div.menubtn img {
        width: 35px;
        height: 35px;
        max-width: 35px;
        max-height: 35px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border:  1px solid whitesmoke;
    }
}
