page-followers {
    .segment-md-primary .segment-button.activated, .segment-md-primary .segment-button.segment-activated {
        border: none;
        color: white;
        opacity: 1;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        text-transform: capitalize;
    }
}
