page-newsfeed {
  font-family: 'Raleway', sans-serif;
  background-color: whitesmoke;
  ion-content {
    .segment {
      .segment-button {
        height: $control-height - 10px;
        line-height: $control-height - 10px;
        border: none;
        color: #fff;
        border-radius: 0px !important;
        max-width: 100%;
        background: #348F53;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #56B4D3, #348F53);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #56B4D3, #348F53);
        font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
          'Lucida Sans', Arial, sans-serif;
      }
      .segment-activated {
        background: #348F58 !important;
        border-bottom: 2px solid #348F53;
      }
    }
    &.tabs_bar {
      min-height: $control-height - 10px !important;
      .toolbar-background {
        background: #348F53;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #56B4D3, #348F53);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #56B4D3, #348F53);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      }
    }
  }
  .header {
    height: $control-height;
    background: #348F53;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F53);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F53);
  }
  .menubtn {
    margin-left: 10px !important;
    margin-top: 3px !important;
  }
  .content {
    background: transparent;
    overflow: auto;
  }
  .content-item1 {
    background: transparent;
    margin: 0px auto !important;
    text-align: center;
    font-family: 'Raleway', sans-serif;
  }
  .content-card1 {
    padding: 5px;
    text-align: center;
    margin: 10px 10px 5px 10px !important;
    font-family: 'Raleway', sans-serif;
  }
  .cardItem {
    padding-left: 10px !important;
    font-family: 'Raleway', sans-serif;
  }
  .ionAvatar {
    margin-left: 0px !important;
  }
  .content-card1 .postImage {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .content-card1 .username {
    font-weight: bold;
    color: darkcyan;
    padding: 0px !important;
    text-align: left !important;
    margin-top: 5px;
    padding-top: 5px !important;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
  }
  .content-card1 .postTime {
    font-size: 14px !important;
    font-family: 'Raleway', sans-serif;
  }
  .content-card1 .postCity {
    font-size: 14px !important;
    font-family: 'Raleway', sans-serif;
  }
  .content-card1 .post {
    font-size: 1.5rem !important;
    text-align: left;
    margin-left: -7px;
    margin-top: 5px;
  }
  .item-inner {
    border: none !important;
  }
  .fab {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  .noResultItem {
    background: linear-gradient(180deg, #4aa1f3, #64b5f6);
    position: absolute;
    color: #fff;
    top: 40%;
    left: 50%;
    padding: 15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 100px;
  }
  .noResult {
    color: #fff !important;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  .postImage {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 10px !important;
  }
  .notLiked {
    color: #2e2c2c !important;
  }
  .content {
    overflow-x: hidden;
    overflow-y: scroll !important;
  }
  div.menubtn img {
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border:  1px solid whitesmoke;
  }
  .spinner svg {
    width: 35px;
    height: 35px; 
    stroke: #444;
    fill: red;
  }
  .searchbar {
    width: 100% !important;
    margin-bottom: 10px;
    padding: 0;
    border-radius: 0 !important;
  }
  .search {
    float: right;
    width: 80%;
    margin-right: 7%;
  }
  .searchbar-md {
    border-radius: 0 !important;
  }
  .searchbar-input-container {
    border: none;
    border-radius: 0;
  }
}
