page-popover {
    font-family: 'Raleway', sans-serif;
    .item-inner {
        border: none !important;
        padding: 10px !important;
        color: color($colors, graycolor);
        font-family: 'Raleway', sans-serif;
    }
    .label-md {
        font-family: 'Raleway', sans-serif;
    }
}
