<ion-menu [content]="content">
  <ion-list>
    <div class="row">
      <div class="col-12">
        <div class="detail-pro">
          <div class="list-btn" (click)="GoToProfile()" menuClose>
            <ion-list-header>
              <ion-avatar item-start>
                <div class="menubtn">
                  <img *ngIf="userData" src={{headerImage}}>
                </div>
              </ion-avatar>
              <p color="graycolor" *ngIf="userData">{{userData.username}}</p>
              <a href="#">View Profile</a>    
            </ion-list-header>
          </div>  
          <div class="close-btn" menuClose>
            <ion-icon name="close"></ion-icon>
          </div>
        </div>
      </div>
      <div class="col-12">
        <p *ngIf="userData" style="font-family: 'Srisakdi', cursive;">
          <strong style="font-family: 'Raleway', sans-serif;">{{userData.following.length}}</strong>  Following&nbsp;&nbsp;
          <strong style="font-family: 'Raleway', sans-serif;">{{userData.followers.length}}</strong>  Followers
        </p>
      </div>
      <div style="border-bottom: 1px solid lightgrey; width: 100%;"></div>
      <button ion-item style="padding-top: 12px; padding-bottom: 12px; font-size: 18px;" (click)="GoToProfile()" menuClose>
        <div class="col-12">
          <ion-icon name="person"></ion-icon> &nbsp; Profile
        </div>
      </button>
      <button ion-item style="padding-top: 12px; padding-bottom: 12px; font-size: 18px; margin-bottom: 8px;" (click)="SettingsPage()" menuClose>
        <div class="col-12">
          <ion-icon name="settings"></ion-icon> &nbsp; Settings
        </div>
      </button>
      <div style="border-bottom: 1px solid lightgrey; width: 100%;"></div>
    </div>    
    <!--
    <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
      <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
      {{ p.title }}
    </button>
    -->
  </ion-list>
</ion-menu>
  
<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>